In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers={"Accept-language": "en-US,en;q=0.5"}

In [3]:
rank=[]
name=[]
year=[]
time=[]
rating=[]
metascore=[]
votes=[]
gross=[]

In [4]:
pages=np.arange(1,1000,100)

In [5]:
for page in pages:
    page=requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
    soup=BeautifulSoup(page.text,'html.parser')
    movie_data=soup.findAll('div',attrs={'class':"lister-item mode-advanced"})
    sleep(randint(2,8))
    
    for store in movie_data:
        rankk=store.h3.span.text
        rank.append(rankk)
        
        mname=store.h3.a.text
        name.append(mname)
        
        year_of_release=store.h3.find('span',class_="lister-item-year text-muted unbold").text.strip('()')
        year.append(year_of_release)
        
        mtime=store.p.find('span',class_="runtime").text
        time.append(mtime)
        
        mrating=store.find('div',class_="inline-block ratings-imdb-rating").text.replace('\n','')
        rating.append(mrating)
        
        mmeta=store.find('span',class_="metascore").text if store.find('span',class_="metascore") else "****"
        metascore.append(mmeta)
        
        value=store.find_all('span',attrs={'name':"nv"})
        vote=value[0].text
        votes.append(vote)
        
        mgross=value[1].text if len(value)>1 else "%%%%"
        gross.append(mgross)

In [6]:
df=pd.DataFrame({"Rank":rank,"Movie Name": name, "Year of Relaease": year,"Watch Time":time,"Rating":rating,"Metascore":metascore,"Votes":votes,"Gross Collection":gross})

In [7]:
df.head()

,Rank,Movie Name,Year of Relaease,Watch Time,Rating,Metascore,Votes,Gross Collection
0,1.,The Shawshank Redemption,1994,142 min,9.3,81,"2,699,185",$28.34M
1,2.,The Godfather,1972,175 min,9.2,100,"1,873,380",$134.97M
2,3.,The Dark Knight,2008,152 min,9.0,84,"2,672,907",$534.86M
3,4.,Schindler's List,1993,195 min,9.0,95,"1,364,528",$96.90M
4,5.,The Godfather Part II,1974,202 min,9.0,90,"1,280,242",$57.30M

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              1000 non-null   object
 1   Movie Name        1000 non-null   object
 2   Year of Relaease  1000 non-null   object
 3   Watch Time        1000 non-null   object
 4   Rating            1000 non-null   object
 5   Metascore         1000 non-null   object
 6   Votes             1000 non-null   object
 7   Gross Collection  1000 non-null   object
dtypes: object(8)
memory usage: 62.6+ KB

In [10]:
df.to_excel("IMDB_TOP_1000_M.xlsx")